#content {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 800px; /*650 */
}
#greeting-container {
  margin-top: 50px;
}

h1 {
    color:white;
    padding: 12px 30px;
    border-radius: 12px;
    background-color:#5d97d1; /* #ff5d8f rosa // azul nuevo=00b4d8// azul antiguo=779be7*/
    font-family:"karla";
    text-align:center;
}
p {
    font-family:"karla";
    font-size: large; 
    text-align:left; 
    color:#30343f;
}
h3 {
    /*width:250px;*/
    border-radius: 12px;
    padding: 12px 30px;
    background-color:#00b4d8; /* #ea638c */
    font-size:larger;
    font-family:"karla"; 
    color:white; 
    text-align:center;
}
h4 {
    width:250px;
    border-radius: 12px;
    font-size:large;
    background-color:#007ea7; 
    font-family:"karla"; 
    color:white; 
    text-align:center;
}
h5 {
    font-family:"karla"; 
    font-size:large;
    text-align:left; 
    color:#30343f;
    text-align:center;
}
ul {
    list-style-type:disc; 
    font-family:"karla";
    font-size: large;
    color:#30343f;
    text-align:left;
}
#boton:link, #boton:visited {
  font-family: "karla";
  border-radius: 4px;
  background-color: #9ac4f8;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#boton:hover, #boton:active {
  font-family: "karla";
  border-radius: 4px;
  background-color: #779be7;
}

.btn {
  font-family: "karla";
  border-radius: 4px;
  border: 2px solid white;
  background-color: #779be7;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.info {
  border-color: white;
  color: white
}

.myDiv {
  text-align: center;
}

.btn-group .button1 {
  background-color: #9f9fed;
  border: none;
  color: white;
  border: 5px #662e9b;
  padding: 14px 25px;
  /*border-radius: 4px;*/
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: "karla";
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  /*float: left;*/
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button3 {
  background-color: #7fb800;
  border: none;
  color: white;
  padding: 14px 25px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "karla";
  font-size: 16px;
  cursor: pointer;
}
